@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1820px)
  .clients
    .slick-prev
      left: -70px

    .slick-next
      right: -70px

  .clients-slider
    width: calc(100% - 130px)
    margin: 0 auto

@media only screen and (max-width: 1670px)
  .menu
    font-size: 16px

    li
      margin: 0 20px 0 0

  .links-menu, .list-social
    font-size: 16px

  .header-top .list-social
    max-width: none

  .category-item__title
    font-size: 30px
    padding: 20px 0

  .category-item__img
    height: 250px

  .slider-images__item
    width: 30%

  .slide-title
    font-size: 100px

  .home-slider-wrapper .box-text
    width: calc(100% - 200px)

  h3
    font-size: 30px

  .our-approach-content
    padding: 65px 0 22px 30px

    .number
      font-size: 200px

    .box-text
      font-size: 18px
      margin: 15px 0 0 60px

  h2
    font-size: 60px

  .our-approach
    padding: 50px 0 0

  .callback-box
    margin: 0

  .btn
    font-size: 16px

  .advantages-box__num
    font-size: 60px

  .advantages-box
    font-size: 18px
    padding: 0 20px

  .advantages-list
    margin: 40px 0 0

  .official-box__row
    margin: 20px 0 0
    padding: 0 0 0 20px

    h5
      font-size: 24px

  .official-box, .about .box-text
    font-size: 24px

  .about
    padding: 40px 0

  .services-callback-wrapper
    h3
      max-width: none

  .services-callback-box
    .form-callback
      justify-content: space-between

      label
        width: 31%
        margin: 0

      button
        width: 31%
        margin: 0

  .spare-section .services-callback-wrapper
    padding: 40px

  .special-offer-box h4
    font-size: 60px

  .warranty-content .btn, .submit-application .btn
    font-size: 24px
    height: 80px
    max-width: 600px

  .why-are-box .box-text
    font-size: 22px

  .why-are-box__content
    padding: 40px 20px 20px

  .submit-application
    padding: 70px 0

  .contacts-links
    font-size: 24px

  .name-director
    font-size: 30px

  .mt-130
    margin-top: 80px

  .command
    padding: 80px 0 40px

  .contacts-page .contacts-links
    font-size: 35px
    margin: 0 30px 0 0

  .contacts-page .contacts-links__icon
    max-width: 70px

  .contacts-page .btn-call
    height: 60px
    font-size: 22px
    .btn-icon
      width: 30px

  .contacts-item
    padding: 30px
    .tel
      font-size: 24px
    &__head
      font-size: 20px
      min-height: 76px


@media only screen and (max-width: 1400px)
  header .footer-box:first-child
    padding-right: 20px

  header .footer-box:last-child, .header-top .list-social
    padding-left: 20px

  .header-top .list-social
    width: 32%

  .list-social
    margin: 0 20px 0 0

  header .footer-box
    padding: 16px 20px

  .menu
    li
      margin: 0 15px 0 0

  .phone
    padding: 10px 20px

  .slide-title
    font-size: 80px

  .slider-images__item
    height: 120px

  .category-item__title
    font-size: 24px

  .category-item__img
    height: 200px

  .clients
    padding: 50px 0

  .phone-number
    font-size: 20px

  .contacts-box-row
    padding: 20px 0

    &:last-child
      padding: 20px 0

  .official-box__row
    padding: 0

    h5
      width: 100%
      max-width: none
      margin: 0 0 10px

  .advantages-box__num
    font-size: 45px

  .advantages-box
    font-size: 15px

  .official-box, .about .box-text
    font-size: 18px

  .official-box
    padding: 15px 20px

  .services-callback-wrapper
    padding: 30px
    margin: 0 auto 30px

    h3
      font-size: 34px

  .service-phone
    font-size: 50px
    padding: 30px 0

  .services-callback
    padding: 50px 0 0

  .spare-section .services-callback-wrapper
    padding: 30px

  .links-document
    padding: 10px
    font-size: 18px
    height: 80px

    small
      font-size: 14px


  .links-document__icon
    width: 28px
    min-width: 28px

  .advantages-repair .advantages-services-box
    font-size: 20px

  .advantages-repair__content
    padding: 30px 0 30px 50px

  .warranty-img
    min-width: 700px

  .why-are-box__img
    width: 250px

  .why-are-box__content
    width: calc(100% - 250px)

  .why-are-box .number
    font-size: 150px

  .command-box__body
    padding: 20px

  .command-box__photo
    height: 270px

  .command h4
    font-size: 26px
    margin: 0 0 20px

  .callback-box-wrap form button
    font-size: 18px
    height: 60px

  .callback-box-wrap .callback-box
    padding: 30px

  .callback-box-wrap form input
    height: 50px

  .callback-box-wrap form textarea
    height: 117px

  .map
    margin: 50px 0 0
    height: 457px

  .callback-box-wrap
    margin: 50px 0 0

  .btn-requisites
    height: 50px

  .contacts-page
    padding: 80px 0
    h2
      margin: 0 0 40px

@media only screen and (max-width: 1200px)
  .header-top
    display: none

  .header-bottom
    .list-social
      li
        display: flex

        &:first-child
          display: flex

  .list-social
    li
      margin: 0 15px 0 0

    .list-social__text
      display: none

    .list-social__icon
      width: 20px
      min-width: 20px

  .logo
    max-width: 90px

  .menu, .links-menu
    font-size: 14px

  .phone
    font-size: 13px
    padding: 7px 12px

  .our-approach-content
    .box-text
      margin-left: 0

    .number
      font-size: 160px

  h3
    font-size: 24px

  h2
    font-size: 40px
    margin: 0 0 25px

  .page-home-section
    padding: 60px 0 80px

  h1
    font-size: 60px


  .page-home-section h1
    margin: 0 0 100px

  .advantages-services-box
    font-size: 16px

  .advantages-services-box__icon
    height: 90px

  .advantages-services
    padding: 50px 0

  .list-dots
    padding: 0
    font-size: 20px

  .services-section__img
    margin: 0 0 30px
    height: 280px

  .services-section h2
    margin: 0 auto 40px

  .service-phone
    font-size: 60px

  .services-callback-wrapper h3
    font-size: 28px

  .services-callback-box h4
    font-size: 20px
    margin: 0 0 15px

    br
      display: none

  .advantages-services-two
    padding: 50px 0 0

  .links-document
    margin: 15px 0
    font-size: 16px

  .advantages-repair-two .advantages-services-box
    padding: 30px
    font-size: 22px

  .special-offer-box
    padding: 0 10px

  .warranty-img
    min-width: 550px

  .warranty-content .btn, .submit-application .btn
    font-size: 18px
    height: auto
    max-width: 400px

  .warranty-content h3
    margin: 0 0 30px

  .why-are-box .box-text
    font-size: 15px

  .why-are-box .number
    font-size: 100px
    left: 0

  .why-are
    padding: 70px 0
    h2
      margin: 0 auto 40px

  .contacts-links
    font-size: 18px
    min-height: auto

  .contacts-links__icon
    max-width: 40px
    padding: 0 10px 0 0
    margin: 0 10px 0 0

  .command
    padding: 50px 0 40px
    h4
      font-size: 20px

  .mt-130
    margin-top: 40px

  .tel
    font-size: 16px

  .name-employee
    font-size: 18px
    margin: 0 0 15px

  .contacts-item
    padding: 20px
    .tel
      font-size: 18px

  .contacts-page .contacts-links
    font-size: 24px

  .contacts-page .contacts-links__icon
    max-width: 50px
    padding: 0 10px 0 0
    margin: 0 15px 0 0

  .contacts-page .btn-call
    font-size: 18px

  .callback-box-wrap h4
    font-size: 22px
    margin: 0 0 25px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .footer-box
    padding: 0
    border: none

    &:nth-child(2)
      display: none

    &:last-child
      padding: 0
      margin: 0 0 0 auto

  header .footer-box:first-child, header .footer-box:last-child, .footer-box:first-child, .footer-box:last-child
    padding: 0

  footer
    padding: 20px 0

  .btn-burger
    display: flex

  .links-menu
    display: none

  .header-bottom
    padding: 10px 0

  .category-item
    width: 50%
    flex: auto

  .home-slider-nav
    right: 20px

  .home-slider-item
    padding: 70px 100px 70px 0

  .slick-arrow
    width: 50px
    height: 50px

  .our-approach-img
    min-width: auto
    margin: 0

  .float-left.our-approach-img
    margin: 0

  .our-approach-content
    min-height: auto
    padding: 20px 0

    .number
      font-size: 100px
      position: relative
      left: 0
      top: 0

    br
      display: none

    .box-text
      font-size: 15px

  h3
    font-size: 18px

  .callback-box
    max-width: none
    margin: 30px 0 0

  .contacts
    padding: 40px 0

  .contacts-box
    max-width: none

  .about .box-text
    max-width: none
    margin: 0 0 20px

    br
      display: none

  .advantages-list
    margin: 0

  .advantages-box
    flex: auto
    width: 33.3%
    border: none
    margin: 20px 0 0
    padding: 0 10px

    br
      display: none

    &:first-child, &:last-child
      padding: 0 10px

  .official-box__row .btn
    height: 50px
    font-size: 16px

  .advantages-services-box
    margin: 0 0 40px

  .list-dots
    li
      margin: 0 0 24px

  .advantages-box__icon
    margin: 0 0 15px
    height: 60px

  .services-callback-box
    width: 100%

    h4
      max-width: none
      font-size: 20px

  .services-callback-wrapper h3
    width: 100%
    font-size: 22px
    max-width: none
    margin: 0 0 20px

    br
      display: none


  .official-mark
    padding: 50px 0

    h2
      margin: 0 0 30px
      font-size: 36px

  .mark-box
    font-size: 24px
    width: 25%

  .advantages-services-two h3
    font-size: 30px
    margin: 30px 0

  .slogan
    font-size: 40px
    padding: 30px 20px

  .spare-documents__img
    margin: 30px auto 0
    max-width: 500px

  .advantages-repair__content
    padding: 30px
    &:before
      left: -20px

  .advantages-repair
    padding: 30px 0 0

  .advantages-repair .advantages-services-box__icon
    padding: 0
    width: 100%
    margin: 0 auto 20px
    height: 70px
    img
      max-height: 100%


  .advantages-repair .advantages-services-box
    flex-direction: column
    align-items: center
    margin: 0 0 30px

  .advantages-repair .advantages-services-box__body
    width: 100%
    padding: 20px 0 0
    min-height: auto
    br
      display: none

    &:before
      left: 50%
      transform: translate(-50%,0)
      width: 100%
      height: 2px
      top: 0

  .special-offer-box h4
    font-size: 40px

  .warranty-img
    min-width: auto
    max-width: 400px
    margin: -20px auto 30px

  .warranty-content
    padding: 0 0 40px
    text-align: center
    h3
      text-align: center
    .btn
      margin: 0 auto
      font-size: 16px

  .contacts-links
    margin: 20px 0 0

  .name-director
    font-size: 24px

  .position
    min-height: auto

/* Small Devices, Tablets */
@media only screen and (max-width: 890px)
  .contacts-page .contacts-links
    width: 100%
    margin: 0 auto 20px
    justify-content: center

  .contacts-page .btn-call
    margin: auto

  .contacts-page
    h2
      text-align: center

@media only screen and (max-width: 768px)
  .slide-title
    font-size: 50px

  .home-slider-wrapper .box-text
    width: 100%
    margin: 0 0 15px

  .slider-images__item
    margin: 30px 0 0

  .page-home-section h1
    margin: 0 0 40px

  h1
    font-size: 50px

  .page-home-section .box-text
    font-size: 20px
    margin: 0

  .list-dots
    column-count: 1
    font-size: 18px

    br
      display: none

    li
      padding: 0 0 0 20px

      &:before
        top: 7px

  .service-phone
    font-size: 40px
    padding: 20px 0

  .phone-service__icon
    max-width: 60px

  .services-callback-box .form-callback button
    font-size: 14px

  .manufacturers-section
    padding: 50px 0 30px

  .mark-box
    width: 33.3%

  .advantages-services-wrapper .advantages-services-box
    padding: 30px 20px

  .spare-section
    padding: 0 0 50px

  .advantages-repair-two .advantages-services-box
    width: 100%
    font-size: 18px
    text-align: center
    br
      display: none

  .submit-application
    padding: 40px 0
    h3
      text-align: center
      margin: 0 auto
    .btn
      margin: 30px auto 0

  .callback-box-wrap
    margin: 30px 0 0

  .map
    margin: 30px 0 0

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .footer-box
    .list-social
      display: none

  .slider-images__item
    width: 31%
    margin: 20px 0 0

  .home-slider-nav
    padding: 20px 0
    right: 10px

  .home-slider-item
    padding: 40px 60px 40px 0

  .category-item__title
    font-size: 20px

  .category-item__img
    height: 160px

  .clients-slider
    border: none
    width: 100%

    .slick-prev
      left: 0

    .slick-next
      right: 0

  .clients-box
    border: 1px solid #363636

  .form-group
    width: 100%

  .form-callback
    button
      margin: 20px 0 0

  .callback-box
    padding: 30px

  .advantages-box
    width: 50%
    margin: 30px 0 0
    font-size: 14px

    p
      min-height: auto

    &__num
      font-size: 30px

    span
      margin: 0 0 5px

  h2
    font-size: 30px

  .about h2
    margin: 0 0 20px

  .breadcrumb-section
    padding: 20px 0

  .breadcrumb
    font-size: 16px

  .advantages-services-box
    text-align: center

  .services-callback-box
    .form-callback
      label
        width: 100%
        margin: 0 0 15px
        max-width: none

      button
        max-width: none
        width: 100%

  .service-phone
    font-size: 30px

  .services-callback-box h4
    font-size: 18px

  h1
    font-size: 30px

  .page-home-section .box-text
    font-size: 16px

  .manufacturers-box
    height: 70px
    padding: 14px 20px
    font-size: 20px
    margin: 0 0 25px

  .advantages-services-wrapper .advantages-services-box
    width: 100%

  .mark-box
    width: 50%
    height: 110px
    padding: 10px

  .official-mark h2
    text-align: center
    font-size: 26px

  .advantages-services-two h3
    font-size: 24px

  .slogan
    font-size: 30px

  .official-mark .advantages-services-box
    margin: 0 auto 30px

  .official-mark .advantages-services-box__icon
    height: 90px

  .links-document
    margin: 0 0 10px

  .special-offer-box
    width: 100%
    border: none
    margin: 0 0 30px
    h4
      font-size: 30px

  .special-offer h2
    font-size: 24px

  .command-box__photo
    height: 400px

@media only screen and (max-width: 480px)
  .slide-title
    font-size: 40px

  .phone-number, .address
    max-width: none
    width: 100%
    margin: 0 0 10px

  .official-box__row h5
    font-size: 20px

  .slider-images__item
    width: 49%

  .home-slider__bg
    min-width: 1000px
    left: auto
    right: 0

  .home-slider-item
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 1005px
      background: #000
      opacity: .4
      z-index: 1

    .container
      position: relative
      z-index: 2

  .service-phone, .slogan
    font-size: 24px

  .why-are-box
    flex-direction: column
    align-items: flex-start
    &__img
      width: 100%
      height: 250px
    &__content
      width: 100%
      padding: 40px 20px
    br
      display: none

  .why-are
    padding: 70px 0 40px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .advantages-box
    width: 100%
    padding: 0

    &:first-child, &:last-child
      padding: 0

  h1
    font-size: 26px

  .command-box__photo
    height: 320px