@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

//*::-webkit-input-placeholder
//  color: #666
//  opacity: 1
//
//*:-moz-placeholder
//  color: #666
//  opacity: 1
//
//*::-moz-placeholder
//  color: #666
//  opacity: 1
//
//*:-ms-input-placeholder
//  color: #666
//  opacity: 1
//
//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//  color: #666
//
//body input:required:valid,
//body textarea:required:valid
//  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #f6f6f6
  color: $text


html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 21px
  box-sizing: border-box
  font-family: $default-font
  font-size: 9px
  color: #1d1d1b
  width: 100%
  height: 46px
  border: solid 1px #363636
    radius: 0

  &::placeholder
    color: #1d1d1b

  &:hover, &:focus
    outline: none
    box-shadow: none

textarea
  padding: 13px 17px
  height: 104px

label
  display: block
  width: 100%
  margin: 0 0 16px


.btn, button
  outline: none
  font-family: $default-font
  border: none
    radius: 0
  padding: 0
  margin: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 18px
  font-weight: bold
  height: 56px
  padding: 10px
  width: 100%

.btn-icon
  display: flex
  align-items: center
  justify-content: center

.btn-accent
  background: $accent
  color: #fff
  box-shadow: 8px 8.9px 16px 0 rgba(3, 4, 2, 0.26)
  border: solid 0 #ff2a1e

  &:hover
    background: #000
    color: #fff

  .btn-icon
    width: 11px
    margin: 0 0 0 30px

.btn-border
  border: solid 1px #fff
  color: #fff
  height: 33px
  font-size: 12px
  font-weight: normal
  padding: 0 16px 0 19px
  max-width: 155px
  justify-content: space-between

  .btn-icon
    width: 8px

  &:hover
    background: $accent
    color: #fff

.bg-accent
  background: $text
  color: #fff

h1
  text-transform: uppercase
  width: 100%
  font-weight: 800
  font-size: 83px
  line-height: 1

h2
  width: 100%
  text-transform: uppercase
  font-size: 83.4px
  font-weight: 800
  line-height: 1
  margin: 0 0 44px

h3
  width: 100%
  font-weight: bold
  font-size: 46.2px
  line-height: 1.08

.box-text
  line-height: 1.53
  font-size: 15px

.slick-slider
  width: 100%
  margin: 0

.slick-slide
  outline: none

.slick-arrow
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  padding: 0
  z-index: 1
  opacity: 1
  border: solid 1px #363636
    radius: 0
  width: 69px
  height: 69px
  display: flex
  align-items: center
  justify-content: center
  background: transparent

.slick-prev
  left: 0

.slick-next
  right: 0

.slick-dots
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  bottom: 0

  li
    width: 8px
    height: 8px
    cursor: pointer
    transition: .3s ease
    border-radius: 50%
    background: #fff
    margin: 0 0 13px
    padding: 0

    &:last-child
      margin: 0

    button
      display: none

  .slick-active
    background: $accent


.phone
  color: #fff
  font-size: 15px
  font-weight: bold
  padding: 12px 32px
  background: $accent
  box-shadow: 8px 8.9px 16px 0 rgba(3, 4, 2, 0.26)
  border: solid 0 #ff2a1e

  &:hover
    color: $text

.container
  max-width: 1695px

.logo
  max-width: 141px
  width: 100%
  display: flex
  align-items: center

//header
header
  .footer-box
    padding: 16px 40px 16px 40px

    &:first-child
      padding: 16px 40px 16px 0

    &:last-child
      padding: 16px 0 16px 40px

  .menu
    li
      a
        position: relative

        &:before
          content: ''
          position: absolute
          height: 4px
          width: 60px
          left: 50%
          transform: translate(-50%, 0)
          bottom: -36px
          z-index: 1

        &:hover
          &:before
            background: $accent
      .active
        color: #ff2a1e
        font-weight: 600
        &:before
          background: $accent

.header-top
  .list-social
    padding: 20px 0 17px 40px
    margin: 0 0 0 auto
    max-width: 450px
    width: 33%

.header-bottom
  border:
    top: 1px solid #fff
    bottom: 1px solid #fff

  .list-social
    li
      &:first-child
        display: none

.btn-burger
  width: 24px
  height: 20px
  display: none
  justify-content: space-between
  align-items: center
  flex-direction: column
  cursor: pointer
  margin: 0 0 0 20px

  span
    display: block
    width: 100%
    background: #fff
    border-radius: 3px
    height: 2px

.mobile-menu
  display: none
  position: fixed
  z-index: 5
  right: 0
  top: 0
  width: 100%
  max-width: 280px
  height: 100%
  overflow-y: auto
  padding: 30px
  background: $text
  .menu
    font-size: 18px
    margin: 20px 0
    li
      width: 100%
      margin: 0 0 15px
  .phone
    width: fit-content
    margin: 20px 0 0
    font-size: 18px

.btn-close
  width: 20px
  height: 20px
  cursor: pointer
  position: absolute
  right: 30px
  top: 30px
  &:before, &:after
    content: ''
    position: absolute
    left: 10px
    top: 0
    width: 2px
    height: 100%
    background: #fff
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(135deg)

//home
.home
  position: relative

.home-slider-nav
  position: absolute
  height: 100%
  right: 62px
  top: 0
  padding: 104px 0 72px
  display: flex
  flex-direction: column
  align-items: center

  .slick-dots
    margin: 0 0 auto
    order: -1

  .slick-arrow
    position: relative
    top: 0
    right: 0
    left: 0
    transform: none
    filter: brightness(0) invert(1)

.home-slider-item
  padding: 72px 0
  position: relative
  width: 100%

.home-slider
  color: #fff

.home-slider__bg
  width: 100%
  height: 100%
  object-fit: cover
  position: absolute
  left: 0
  top: 0

.slider-images
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between

  &__item
    margin: 46px 0 0
    max-width: 258px
    width: 100%
    height: 182px
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid rgba(#fff, .5)
    overflow: hidden

    img
      width: 100%
      height: 100%
      object-fit: cover

.slide-title
  text-transform: uppercase
  margin: 0 0 22px
  font-size: 153.5px
  font-weight: 800
  line-height: 1

.home-slider-wrapper
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap

  .box-text
    max-width: 555px
    width: 100%


//category
.category
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  border-top: 1px solid #fff

  &-item
    flex: 1
    text-align: center
    position: relative
    border:
      right: 1px solid #fff

    &:last-child
      border-right: none

    &__title
      width: 100%
      text-align: center
      background: #363636
      color: #fff
      padding: 36px 0
      position: relative
      font-size: 42px
      line-height: 1
      display: flex
      align-items: center
      justify-content: center

      &:before
        content: ''
        position: absolute
        bottom: -2px
        left: 50%
        transform: translate(-50%, 0)
        transition: .3s ease
        width: 60px
        height: 4px
        z-index: 1

    &__img
      width: 100%
      height: 316px
      position: relative
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden

      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #363636
        opacity: .4
        transition: .3s ease

      img
        width: 100%
        height: 100%
        object-fit: cover

    &:hover
      .category-item__title
        &:before
          background: $accent

      .category-item__img
        &:before
          opacity: 0

//our-approach
.our-approach
  padding: 84px 0 0

  h2
    margin: 0 0 42px

.our-approach-wrapper
  border-top: 1px solid #363636

.our-approach-img
  min-width: 960px
  float: right
  height: 100%
  margin: 0 -15px 0 0

  img
    width: 100%
    height: 100%
    object-fit: cover

.our-approach-content
  position: relative
  z-index: 1
  padding: 95px 0 22px 60px
  min-height: 334px
  display: flex
  flex-direction: column
  justify-content: flex-end

  .number
    font-size: 242.6px
    line-height: 1
    font-weight: bold
    color: #ccc
    position: absolute
    left: 24px
    top: 17px
    z-index: -1

  .box-text
    margin: 11px 0 0 120px
    font-size: 20px
    line-height: 1.15
    color: #000
    max-width: 630px

.float-left.our-approach-img
  float: left
  margin: 0 0 0 -15px

//about
.about
  padding: 82px 0 105px

  .box-text
    font-size: 30px
    max-width: 700px
    margin: 0 20px 0 auto

  h2
    margin: 0 0 38px

.advantages-list
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  margin: 100px 0 0

.advantages-box
  flex: 1
  padding: 0 35px 10px
  display: flex
  flex-direction: column
  margin: 50px 0 0
  border-right: solid 3px #ff2a1e
  font-size: 23px
  line-height: 1.13

  span
    display: block
    margin: 0 0 20px

  &__num
    font-size: 85px
    font-weight: bold
    margin: auto 0 12px
    line-height: 1

  &:first-child
    padding-left: 0

  &:last-child
    padding-right: 0
    border: none

  p
    min-height: 68px

.official-box
  width: 100%
  border: solid 2px #ff2a1e
  padding: 18px 45px 17px 44px
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 31.6px

  &__icon
    margin: 0 0 0 48px
    width: 32px
    min-width: 32px
    display: flex
    align-items: center

.official-box__row
  margin: 50px 0 0
  padding: 0 0 0 44px
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  width: 100%

  h5
    text-transform: uppercase
    font-weight: 800
    font-size: 31.5px
    max-width: 330px

  .btn
    height: 69px
    max-width: 287px
    font-size: 19.5px

//.clients
.clients
  padding: 100px 0 78px

.clients-slider
  border-right: solid 1px #363636

  .slick-prev
    left: -100px

  .slick-next
    right: -100px

  .slick-arrow
    background: #fff


.clients-box
  border: solid 1px #363636
    right: none
  padding: 20px 10px
  height: 194px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  filter: grayscale(100%)
  transition: .3s ease
  &:hover
    filter: none
  img
    max-height: 100%

//contacts
.contacts
  padding: 110px 0 73px

.callback-box
  background: #fff
  max-width: 600px
  width: 100%
  margin: 0 0 0 20px
  padding: 45px 30px 24px

.form-callback
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  width: 100%

.form-group
  width: calc(50% - 10px)
  margin: 0

.checkbox
  margin: 0
  display: flex
  align-items: center
  font-family: $default-font
  width: 100%
  color: #1d1d1b
  font-size: 9px
  cursor: pointer

.inp-check
  display: none

.checkbox-custom
  border: solid 1px #363636
  width: 20px
  height: 20px
  min-width: 20px
  margin: 0 15px 0 0
  position: relative

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 14px
    height: 14px


.inp-check:checked + .checkbox-custom
  &:before
    background: $accent

.btn-call
  height: 42px
  width: fit-content
  font-size: 14px
  padding: 10px 20px

  .btn-icon
    width: 21px
    margin: 0 0 0 14px


.contacts-box
  max-width: 534px
  margin: 0 0 0 auto
  width: 100%

  &-row
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    padding: 40px 20px 45px
    border-bottom: 2px solid #949494

    &:first-child
      padding-top: 10px

    &:last-child
      border: none
      padding: 28px 20px

.phone-number
  color: #fff
  font-weight: bold
  font-size: 28.5px

  &:hover
    color: #949494

.address
  font-size: 17.5px
  max-width: 210px
  width: 100%

.links-white
  text-decoration: underline
  font-size: 17px
  font-weight: bold
  color: #fff

  &:hover
    color: #949494

.mail
  color: #fff
  font-size: 20px
  font-weight: bold

  &:hover
    color: #949494

//footer
footer
  border: 1px solid #fff

  .logo
    margin: 0 43px 0 0

.footer-wrapper
  width: 100%
  display: flex
  align-items: stretch
  justify-content: center
  flex-wrap: wrap

.footer-box
  border-right: 1px solid #fff
  margin: 0 -1px 0 0
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 44px 40px

  &:first-child
    padding: 44px 40px 44px 0

  &:last-child
    margin: 0
    padding: 44px 0 44px 40px
    border: none

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 20px
  width: 100%

  li
    margin: 0 59px 0 0

    &:last-child
      margin: 0

    a

      color: #fff
      position: relative


      img
        width: 100%

      &:hover
        color: $accent
        font-weight: 600
    .active
      color: $accent

.list-social
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 65px 0 0

  li
    margin: 0 38px 0 0

    &:last-child
      margin: 0

    a
      display: flex
      align-items: center
      justify-content: center
      color: #fff

      img
        width: 100%

.list-social__text
  font-size: 20px
  margin: 0 12px 0 0


.list-social__icon
  width: 28px
  min-width: 28px
  display: flex
  align-items: center
  justify-content: center

.links-menu
  color: #fff
  font-size: 20px

  &:hover
    color: $accent
    font-weight: 600

.modal-title
  font-size: 20px
  text-transform: uppercase
  text-align: center
  width: 100%
  font-weight: bold

.modal-header
  border: none
  .close
    padding: 0
    top: 15px
    right: 15px
    width: 18px
    height: 18px
    margin: 0
    opacity: 1
    position: absolute
    &:before, &:after
      content: ''
      position: absolute
      left: 9px
      top: 0
      width: 2px
      height: 100%
      background: $text
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(135deg)

.modal-content
  .form-callback
    button
      font-size: 16px
      height: 50px
      margin: 20px 0 0

//pages
.page-home-section
  color: #fff
  position: relative
  padding: 89px 0 218px
  .box-text
    font-size: 25px
    line-height: 1.12
    max-width: 520px
    width: 100%
    margin: 0 0 0 30px
  h1
    margin: 0 0 143px

.home-services
  background: url("../img/service-bg.jpg") no-repeat center
    size: cover

//breadcrumb-section
.breadcrumb-section
  padding: 28px 0 25px

.breadcrumb
  width: 100%
  background: transparent
  padding: 0
  margin: 0
  font-size: 20px
  font-weight: normal
  border: none
    radius: 0
  .breadcrumb-item
    margin: 0
    a
      color: #787878

.breadcrumb-item.active
  color: #fff
  font-weight: 600

.advantages-services
  padding: 94px 0 109px
  background: $text
  color: #fff

.advantages-services-box
  font-size: 19px
  &__icon
    margin: 0 auto 28px
    display: flex
    align-items: center
    justify-content: center
    height: 130px
    img
      max-height: 100%
  &__body
    width: 100%
    padding: 32px 0 0
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translate(-50%,0)
      background: $accent
      height: 3px
      width: 215px

//.service section
.services-section
  padding: 17px 0 62px
  h2
    text-align: center
    margin: 0 auto 80px

.services-section__img
  margin: 0 0 78px
  height: 310px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover


.list-dots

  column-count: 2
  font-size: 25px
  padding: 0 150px
  li
    margin: 0 0 38px
    padding: 0 0 0 31px
    position: relative
    &:before
      content: ''
      position: absolute
      width: 9px
      height: 9px
      left: 0
      top: 12px
      border-radius: 50%
      background: $accent
    &:last-child
      margin: 0

.about-two
  padding: 68px 0 55px
  .advantages-list
    margin: 0
  .box-text
    font-size: 23px
    margin: 25px 0 0
  .advantages-box
    margin: 0

.advantages-box__icon
  display: flex
  align-items: center
  height: 82px
  img
    max-height: 100%
    max-width: none

//services-callback
.services-callback
  padding: 85px 0 0


.services-callback-wrapper
  width: 100%
  background: #fff
  padding: 73px 44px 65px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 0 auto 66px
  h3
    max-width: 710px
    width: 100%
    font-size: 42.5px

.services-callback-box
  width: calc(100% - 763px)
  margin: 0 0 0 auto
  h4
    color: #363636
    font-size: 25px
    margin: 0 0 35px
    max-width: 557px
    width: 100%

  .form-callback
    width: 100%
    display: flex
    label, button
      max-width: 260px
    label
      margin: 0 12px 0 0
    button
      margin: 0 0 0 auto
      height: 46px
      font-size: 16px
      line-height: normal

.service-phone
  background: $accent
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  padding: 57px 0 66px
  font-size: 83px
  font-weight: 800
  &:hover
    color: #fff

.phone-service
  text-align: center
  padding: 0 0 17px

.phone-service__icon
  margin: 0 auto 22px
  display: flex
  align-items: center
  justify-content: center

//home-manufacturers
.home-manufacturers
  background: url("../img/manufacture-bg.jpg") no-repeat center
    size: cover
  .box-text
    max-width: 680px

.manufacturers-section
  padding: 140px 0 100px

.manufacturers-box
  background: #fff
  margin: 0 0 37px
  width: 100%
  height: 88px
  display: flex
  align-items: center
  justify-content: space-between
  border: solid 1px #363636
  padding: 12px 26px
  color: #787878
  font-size: 23px
  font-weight: 800
  text-transform: uppercase
  &:hover
    box-shadow: 0 0 10px rgba(#363636, .7)
  &__arrow
    max-width: 31px
    width: 100%
    display: flex
    align-items: center




@import "media"
// Всегда в конце
